
.DS_Store
.gt7speedboard.py.swp
.gt7telepoint.py.swp
.gt7widgets.py.swp
__pycache__/gt7telemetryreceiver.cpython-310.pyc
__pycache__/gt7telepoint.cpython-310.pyc
__pycache__/gt7widgets.cpython-310.pyc
build/gt7speedboard/Analysis-00.toc
/dist
/build
/venv
/local
*.log
*.gt7
/win
/data
gt7speedboard.ini
salsatest.py
*.swp
*.pyc
*.xlsx
*.csv
*.json
